.backpack ul {padding: 0;}

#backpackInside { margin: 0 auto; }

.backpack ul li { float: left; position: relative; list-style: none; padding: 17px 10px; }

.backpack ul li a { font-size: 24px; font-weight: bold; color: white; text-decoration: none; text-shadow: 0 1px 2px black; }

.backpack ul li:hover { background: none; -webkit-box-shadow: none; -moz-box-shadow: none; height: auto; border: none; top: -5px; left: -2px;}

.backpack ul li .horizontal li { padding: 14px 10px 14px 10px;  }

.backpack ul li .horizontal li:first-child { margin-left: -10px; }

.backpack ul li .horizontal li a { font-size: 14px; font-weight: normal; color: #c7c7c7; }

.arrow-down { width: 0; height: 0; border-left: 10px solid transparent; border-right: 10px solid transparent; border-top: 15px solid #6a6a63; position: absolute; left: 40px; bottom: -15px; }

.backpack ul li .extended { position: absolute; bottom: 120px; left: 0; width: 220px; background: url(../image/general/dropdownback.png); z-index: 1000; -moz-box-shadow: 0 0px 8px rgba(0,0,0,0.8); -webkit-box-shadow: 0 0px 8px rgba(0,0,0,0.8); box-shadow: 0 0 8px black; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; border: 1px solid white; display: none; color: white; }

.backpack ul li .extended img { display: block; margin: 5px auto 15px auto; -webkit-box-reflect:below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.8, transparent), to(rgba(255,255,255,0.5))); }

.backpack ul li .extended p { padding: 10px; font-size: 11px; line-height: 17px; text-shadow: 0 1px 1px black; }

.backpack ul li .extended h2, .backpack ul li .ultraNav h2 { padding-top: 10px; padding-left: 10px; font-size: 16px; text-shadow: 0 1px 2px black; color: white; background: url(../image/general/headerback.png) repeat-x; height: 20px; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px;  }

.backpack ul li .extended span { padding-left: 10px; font-size: 11px; }

.backpack ul li .extended ul.smallNav { border-top: 1px solid rgba(141,141,141,0.50);  padding: 10px; height: 100px;  }

.backpack ul li .extended ul.smallNav li { width: 200px; padding: 0; line-height: 22px; font-weight: bold; background: url(../image/general/linkback.png) no-repeat; }

.backpack ul li .extended ul.smallNav li a { color: #c7c7c7; text-shadow: none; }

.backpack ul li .extended ul.smallNav li a:hover { color: white; }

.backpack ul li .extended ul.smallNav li:first-child { margin: 0; }

.backpack ul li .extended ul.smallNav li:last-child { margin-bottom: 10px; }

.backpack ul li:hover .extended { display: block; }

.backpack ul li:hover a { color: white; }

.backpack ul li .ultraNav { position: absolute; top: 55px; left: -100px; width: 294px;  background: url(../image/general/dropdownback.png); border: 1px solid white; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; z-index: 500; -moz-box-shadow: 0 3px 8px rgba(0,0,0,0.6); -webkit-box-shadow: 0 3px 8px rgba(0,0,0,0.6); box-shadow: 0 3px 8px black;
display: none; }

.ultraNav h2 { text-align: center; }

.backpack ul li .ultra { width: 130px; float: left; margin: 10px 0 10px 10px; -moz-box-shadow: 0 -1px 3px rgba(0,0,0,0.6); -webkit-box-shadow: 0 -1px 3px rgba(0,0,0,0.6); -moz-border-radius: 5px; -webkit-border-radius: 5px;  border-bottom: none; }

.backpack ul li .ultra:first-child { margin: 0; }

.backpack ul li .ultraNav .arrow-down { left: 130px; }

.backpack ul li .ultra a { font-weight: normal; font-size: 12px; color: #c7c7c7; text-shadow: 0 1px 2px black; }

.backpack ul li .ultra li { width: 120px; line-height: 20px; padding: 3px 5px; background: url(../image/general/linkback.png) no-repeat;  }

.backpack ul li:hover .ultraNav { display: block; }