/* PopUps*/

.popup {
	margin: 0 auto;
	display: none;
	z-index: 100;
	color: #ebebeb;
	/*font: 12px Arial, Helvetica, sans-serif;*/
	background: url(../image/general/login-box-backg.png) no-repeat center top;
	background-size: 100% 100%;
	height: 100%;
	left:0px;
	top:0px;
}

.popup img {
		border:none;
}

.exitbtn
{
	position : fixed;
	right: 0;
	top: 0;
	width: 60px;
	margin-right: 40px;
	margin-top: 30px;
}

.exitbtn:hover
{
	cursor:pointer;
}
